@font-face {
  font-family: "iconfont"; /* Project id 2594862 */
  src: url('//at.alicdn.com/t/font_2594862_zlp90zp9am.woff2?t=1623221736085') format('woff2'),
  url('//at.alicdn.com/t/font_2594862_zlp90zp9am.woff?t=1623221736085') format('woff'),
  url('//at.alicdn.com/t/font_2594862_zlp90zp9am.ttf?t=1623221736085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e683";
}

.icon-check:before {
  content: "\e615";
}

.icon-xuanzhong:before {
  content: "\e662";
}

.icon-danxuan_xuanzhong:before {
  content: "\e610";
}

.icon-jiarugouwuche:before {
  content: "\e60b";
}

.icon-jiaoyin:before {
  content: "\e601";
}

.icon-zhuti:before {
  content: "\e605";
}

.icon-baocuofankui:before {
  content: "\e617";
}

.icon-lujing:before {
  content: "\e856";
}

.icon-right:before {
  content: "\e60f";
}

.icon-fenlei:before {
  content: "\e650";
}

.icon-zhuye:before {
  content: "\e635";
}

.icon-gouwudai:before {
  content: "\e634";
}

.icon-qiandao:before {
  content: "\e638";
}

.icon-taolun:before {
  content: "\e639";
}

.icon-yonghu:before {
  content: "\e64f";
}

.icon-zuanshi:before {
  content: "\e652";
}

.icon-shoucang:before {
  content: "\e654";
}

.icon-gouwuche:before {
  content: "\e607";
}

.icon-daifahuo:before {
  content: "\e633";
}

.icon-daifukuan:before {
  content: "\f2cb";
}

.icon-daishouhuo:before {
  content: "\f2d0";
}

.icon-tuihuo3:before {
  content: "\e600";
}
